__This is an example to access IBM DB2 cloud using python, which is a part of "Databases and SQL for Data Science" course offered by Coursera.org__   
The skeleton of the solution is provided in the course.

In [141]:
import ibm_db

In [142]:
# entering the database credentials
dsn_hostname = "fill out your credential"
dsn_uid = "fill out your credential"
dsn_pwd = "fill out your credential"
dsn_driver = "IBM DB2 ODBC DRIVER"
dsn_database = "bludb"
dsn_port = "fill out your credential"
dsn_protocol = "TCPIP"
dsn_security = "SSL"

In [143]:
# creating the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver,dsn_database,dsn_hostname,dsn_port,dsn_protocol,dsn_uid,dsn_pwd,dsn_security)
print(dsn)

DRIVER=IBM DB2 ODBC DRIVER;DATABASE=bludb;HOSTNAME=2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud;PORT=30756;PROTOCOL=TCPIP;UID=bhq31741;PWD=GaHYo99G1Mtzvefk;SECURITY=SSL;

In [144]:
# create database connection
try: 
    conn = ibm_db.connect(dsn, "", "")
    print('connected to database: ',dsn_database, 'as user: ', dsn_uid, 'on host: ', dsn_hostname)
except:
    print('connection did not work', ibm_db.conn_errormsg())

connected to database:  bludb as user:  bhq31741 on host:  2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud

In [145]:
# execute the drop table statment
dropstmt = ibm_db.exec_immediate(conn, "drop table middle_east")

In [146]:
# execute the create table statment
creatStmt = ibm_db.exec_immediate(conn, "create table middle_east (index int, country varchar(20), population int)")

In [147]:
# construct the insert query
insertQuery = "insert into middle_east values(1, 'Iran' , 81000000),(2, 'Iraq' , 40000000),(3, 'Saudi_Arabia', 34810000)"
# execute the insert statment
insertstmt = ibm_db.exec_immediate(conn, insertQuery)

In [148]:
# construct update query
updateQuery = "UPDATE middle_east SET country='Yeman',population=30000000 WHERE index=3"
# execute the update statment
updatestmt = ibm_db.exec_immediate(conn, updateQuery)

In [149]:
# construct the query that retrieves all the rows from the middle_east table
selectQuery = 'select * from middle_east'
# execute the statment
selectstmt = ibm_db.exec_immediate(conn, selectQuery)
# fetch all the rows
while ibm_db.fetch_row(selectstmt)!=False:
    print('index_num:', ibm_db.result(selectstmt , 0),',\t',
          'country:', ibm_db.result(selectstmt , 1),',\t',
          'population:', ibm_db.result(selectstmt , 2))

index_num: 1 ,	 country: Iran ,	 population: 81000000
index_num: 2 ,	 country: Iraq ,	 population: 40000000
index_num: 3 ,	 country: Yeman ,	 population: 30000000

Retrieving sqp table using pandas

In [152]:
import pandas as pd
import ibm_db_dbi
# create connection for pandas
pcon = ibm_db_dbi.Connection(conn)

In [163]:
# query statment to retrieve all the rows form middle_east table
selectQuery = 'select * from middle_east'
#retrieve the query results into the pandas dataframe
pdf = pd.read_sql(selectQuery, pcon)
pdf[['COUNTRY','POPULATION']]

  COUNTRY  POPULATION
0    Iran    81000000
1    Iraq    40000000
2   Yeman    30000000

In [165]:
pdf.shape

(3, 3)

In [167]:
ibm_db.close(conn)

True